In [1]:
import json
import plotly
import pandas as pd

# from nltk.stem import WordNetLemmatizer
# from nltk.tokenize import word_tokenize

# from flask import Flask
# from flask import render_template, request, jsonify
from plotly.graph_objs import Bar
from sklearn.externals import joblib
from sqlalchemy import create_engine

In [2]:
# load data
engine = create_engine('sqlite:///../data/DisasterResponse.db')
df = pd.read_sql_table('CategorizedMessages', engine)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
genre_counts = df.groupby('genre').count()['message']
genre_names = list(genre_counts.index)

In [4]:
genre_counts, genre_names

(genre
 direct    10766
 news      13054
 social     2396
 Name: message, dtype: int64, ['direct', 'news', 'social'])

In [6]:
# df.groupby('genre').sum()[list(df)[4:]].T

In [8]:
titles = list(df)[4:]
titles_dist = df.groupby('genre').sum()[titles].T
titles_dist

genre                   direct   news  social
related                   7446  10707    2129
request                   3696    604     174
offer                       46     65       7
aid_related               4338   5860     662
medical_help               592   1415      77
medical_products           471    793      49
search_and_rescue          216    441      67
security                   131    292      48
military                    46    801      13
child_alone                  0      0       0
water                      836    790      46
food                      1807   1007     109
shelter                   1152   1113      49
clothing                   247    135      23
money                      148    381      75
missing_people              86    165      47
refugees                   174    666      35
death                      254    858      82
other_aid                 1575   1563     308
infrastructure_related     327   1230     148
transport                  210    872     119
buildings                  391    829     113
electricity                 81    327     124
tools                       33    114      12
hospitals                   54    202      27
shops                       33     68      19
aid_centers                 78    218      13
other_infrastructure       186    866      99
weather_related           1521   4280    1496
floods                     304   1747     104
storm                      315   1445     683
fire                        41    225      16
earthquake                 796    910     749
cold                        63    415      52
other_weather              207   1052     117
direct_report             3613    852     610

In [9]:
x = titles_dist.index.tolist()
direct = titles_dist.direct.tolist()
news = titles_dist.news.tolist()
social = titles_dist.social.tolist()

In [12]:
[w.replace('_', ' ').capitalize() for w in x]

['Related',
 'Request',
 'Offer',
 'Aid related',
 'Medical help',
 'Medical products',
 'Search and rescue',
 'Security',
 'Military',
 'Child alone',
 'Water',
 'Food',
 'Shelter',
 'Clothing',
 'Money',
 'Missing people',
 'Refugees',
 'Death',
 'Other aid',
 'Infrastructure related',
 'Transport',
 'Buildings',
 'Electricity',
 'Tools',
 'Hospitals',
 'Shops',
 'Aid centers',
 'Other infrastructure',
 'Weather related',
 'Floods',
 'Storm',
 'Fire',
 'Earthquake',
 'Cold',
 'Other weather',
 'Direct report']

In [13]:
trace1 = {
    "x": [
        "January", "February", "March", "April", "May", "June", "July",
        "August", "September", "October", "November", "December"
    ],
    "y": [
        "118620.3669901852", "111920.78198366033", "156675.24767431594",
        "120697.95692292189", "188212.02432054756", "90595.7191471862",
        "85561.4580579648", "140031.449707742", "134994.56606117042",
        "133277.31550833542", "114607.3297330865", "128302.84872669591"
    ],
}
trace2 = {
    "x": [
        "January", "February", "March", "April", "May", "June", "July",
        "August", "September", "October", "November", "December"
    ],
    "y": [
        "93645.753345334", "42083.1287738599", "105263.157894737",
        "87839.9358837179", "85702.0271319292", "111071.073402233",
        "84042.9973522659", "67567.5675675676", "65077.1871079279",
        "109059.571914719", "79304.036220664", "82979.2880910716"
    ],
}

In [26]:
data = plotly.graph_objs.Data([trace1, trace2])
fig = plotly.graph_objs.Figure(data=data)

In [27]:
fig

Figure({
    'data': [{'type': 'scatter',
              'uid': '1d127ea4-4891-4ab4-b2ec-e733d67d855d',
              'x': [January, February, March, April, May, June, July, August,
                    September, October, November, December],
              'y': [118620.3669901852, 111920.78198366033, 156675.24767431594,
                    120697.95692292189, 188212.02432054756, 90595.7191471862,
                    85561.4580579648, 140031.449707742, 134994.56606117042,
                    133277.31550833542, 114607.3297330865, 128302.84872669591]},
             {'type': 'scatter',
              'uid': '23b3e25d-8cb5-484e-b4e0-704ede69e421',
              'x': [January, February, March, April, May, June, July, August,
                    September, October, November, December],
              'y': [93645.753345334, 42083.1287738599, 105263.157894737,
                    87839.9358837179, 85702.0271319292, 111071.073402233,
                    84042.9973522659, 67567.5675675676, 65077.1871079279,
                    109059.571914719, 79304.036220664, 82979.2880910716]}],
    'layout': {}
})

In [30]:
plotly.plotly.sign_in('drnesr', '8nFyS98Cudnbt3ofo0jA')

In [31]:
plotly.plotly.plot(fig)

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~drnesr/0 or inside your plot.ly account where it is named 'plot from API'

'https://plot.ly/~drnesr/0'

In [32]:
titles_dist.to_csv('nesr_keywords.CSV')